<div class="ps-5 pe-5 ms-5 me-5 mt-5 pt-5" style="height:1305px">
  <div class="container text-center">
    <h5>CONTACT US</h5>
    <p>Contact us today, we have tools,expertises and knowledge to improve your performance</p>
  </div>

  <div class="ps-5 pe-5 ms-5 me-5 mt-5">
    <div class="mw-100 ps-5 pe-5 ms-5 me-5 mt-5">
      <div class="d-flex flex-column justify-content-center d-sm-flex flex-sm-row">
          <div class="col-6 pt-3 pb-3 col-sm pb-sm-5 pt-sm-5 border-end">
              <div class="col pt-sm-5 pe-sm-5 text-center">
                  <i style="font-size: 90px; width:150px; height:150px;" class="bi bi-telephone-outbound"></i>
                  <h5 class=" fw-bold">PHONE NUMBER</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-sm-2"><a href="tel:+17862344210" class="nav-link p-0  fw-bold">130571337201</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-6 pt-3 pb-3 col-sm pb-sm-5 pt-sm-5">
              <div class="col pb-sm-5 pt-sm-5 text-center">
                <i style="font-size: 90px; width:150px; height:150px;" class="bi bi-envelope"></i>
                <h5 class=" fw-bold">EMAIL</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-sm-2"><a href="mailto:info@ytritech.com" class="nav-link p-0  fw-bold">info@ytritech.com</a></li>
                </ul>
              </div>
          </div>
      </div> 

  </div>

  <div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        
      <div class="form-group">
          <label for="name">Name</label>
          <input 
              formControlName="name"
              id="name" 
              type="text" 
              class="form-control"
            >
          <div *ngIf="submitted && f['name'].errors" class="alert alert-danger">
              <div *ngIf="f['name'].errors['required']">Name is required.</div>
              <div *ngIf="f['name'].errors && f['name'].errors['minlength']">Name should be 3 character.</div>
          </div>
      </div>
       
      <div class="form-group">
          <label for="email">Email</label>
          <input 
              formControlName="email"
              id="email" 
              type="text" 
              class="form-control">
          <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
              <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
              <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
          </div>
      </div>
       
      <div class="form-group">
          <label for="body">Body</label>
          <textarea 
              formControlName="body"
              id="body" 
              type="text" 
              class="form-control">
          </textarea>
          <div *ngIf="f['body'].touched && f['body'].invalid" class="alert alert-danger">
              <div *ngIf="f['body'].errors && f['body'].errors['required']">Body is required.</div>
          </div>
      </div>
      
      <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit</button>
  </form>
  </div>

</div>