    <footer class="" bg="dark">
        <div fluid class="ms-0 me-0 bg-dark bg-gradient" >
            <div class="mw-100 pt-4 pb-4">
                <div class="mw-100 ps-5 pe-5 ms-auto me-auto">
                    <div class="d-flex flex-column justify-content-center d-sm-flex flex-sm-row">
                        <div class="col-12 pt-3 pb-3 col-sm pb-sm-5 pt-sm-5">
                            <div class="row pt-sm-5 pe-sm-5">
                                <a href="/">
                                <img src="assets/images/whitelogo.png" class="img-fluid rounded float-start"  alt="logo" />
                                </a>
                                <p class="ps-4 pe-sm-5 text-white fw-bold">
                                    We are a consulting company who works with methodology, Let us help you to reach your potencial, We optimize your operations,we accelerate your business growing.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 pt-3 pb-3 col-sm pb-sm-5 pt-sm-5">
                            <div class="col pb-sm-5 pt-sm-5">
                            <h5 class="text-white fw-bold">Links</h5>
                                <ul class="nav flex-column">
                                <li class="nav-item mb-sm-2"><a href="/" class="nav-link p-0 text-white fw-bold">Home</a></li>
                                <li class="nav-item mb-sm-2"><a href="/" class="nav-link p-0 text-white fw-bold">About Us</a></li>
                                <li class="nav-item mb-sm-2"><a href="/" class="nav-link p-0 text-white fw-bold">Services</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 pt-3 pb-3 col-sm pb-sm-5 pt-sm-5">
                            <div class="col pb-sm-5 pt-sm-5">
                                <h5 class="text-white fw-bold">Contact Us</h5>
                                <ul class="nav flex-column">
                                <li class="nav-item mb-sm-2"><a href="/" class="nav-link p-0 text-white fw-bold">Fort Lauderdale, FL</a></li>
                                <li class="nav-item mb-sm-2"><a href="/" class="nav-link p-0 text-white fw-bold">Phone: +1 (305)713-7201</a></li>
                                <li class="nav-item mb-sm-2"><a href="/" class="nav-link p-0 text-white fw-bold">Email: info@ytritech.com </a></li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div fluid class="mh-100 bg-dark bg-gradient bg-success pb-5 pt-5 justify-content-center text-white" >
            <p class="mb-0 text-center text-white fw-bold">&copy; Copyright Ytritech LLC. 2020 All Rights Reserved</p>
            </div>
        </div>
    </footer>